:root {
  --color-primary-dark: #011c44;
  --color-primary-light: #2b7fff;
  --color-primary-white: #ffffff;
  --color-secondary-dray: #747272;

  --font-family: "roboto", san-serif;
  --second-family: "play", san-serif;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
