.button {
  display: block;
  color: var(--color-primary-white);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-primary-light);
  cursor: pointer;
  border-radius: 24px;
  width: 186px;
  height: 44px;
  border: 2px solid var(--color-primary-light);
  margin: 0 auto 8px;
  transition-property: color, background-color;
  transition-duration: 0.2s;

  &:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
  }

  @media screen and (min-width: $bp-desktop) {
    border-radius: 32px;
    width: 219px;
    height: 53px;
    margin: 0 0 14px 10px;
  }
}
