.contact-form {
  &__input {
    display: block;
    margin: 0 auto 16px;
    width: 100%;
    max-width: 241px;
    height: 46px;
    border: 1px solid var(--color-primary-light);
    border-radius: 24px;
    background-color: transparent;
    padding: 16px 32px;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;

    @media screen and (min-width: $bp-tablet) {
      max-width: 310px;
      height: 52px;
      border: 2px solid var(--color-primary-light);
      border-radius: 32px;
    }
  }

  &__input::placeholder {
    color: var(--color-primary-white);
  }

  &__input:focus {
    border-color: var(--color-primary-light);
    background-color: var(--color-secondary-dray);
    outline: none;
  }

  &__button-form {
    display: block;
    margin: 0 auto 8px;
    width: 241px;
    height: 44px;
    font-size: 16px;

    @media screen and (min-width: $bp-tablet) {
      width: 281px;
      height: 53px;
    }
  }

  &__button-form:hover {
    color: var(--color-primary-white);
  }

  &__terms {
    color: var(--color-secondary-dray);
    font-size: 12px;
    text-align: center;
    width: 213px;
    margin: 0 auto;
  }

  &__link {
    color: var(--color-secondary-dray);
  }
}
